{{page-title "ComponentLibrary"}}

<section class="container px-4 mx-auto mt-4">
  <h1 class="text-2xl text-red-500">Welcome to Ember</h1>
  <p>Tailwind is setup and ready to go!</p>
</section>

{{outlet}}